@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Unibody;
  src: url('fonts/Unibody.otf') format('opentype');
}

/* For webkit-based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

/* For Firefox */
/* Please note that Firefox only supports scrollbar color customization starting from Firefox 64+ */
* {
  scrollbar-color: rgba(0, 0, 0, 0.5);
  scrollbar-width: thin;
}

* {
  text-shadow: 0px 0px 2px hsl(120, 100%, 80%), 0px 0px 15px green,
    0px 0px 60px green;
  text-transform: uppercase;
}
