.neonSliderContainer {
  display: flex;
  align-items: center;
  width: 300px;
}

.neonTickContainer {
  width: 100%;
  height: 15px;
  display: flex;
  flex-wrap: nowrap;
  gap: 3px;
}

.neonTick {
  width: calc(100% / 50);
  height: 100%;
  background-color: #ff00ff;
  opacity: 0.5;
  transition: opacity 0.2s;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 0, 255, 0.4), 0 0 10px rgba(255, 0, 255, 0.4),
    0 0 15px rgba(255, 0, 255, 0.4), 0 0 20px rgba(255, 0, 255, 0.4),
    0 0 25px rgba(255, 0, 255, 0.4), 0 0 30px rgba(255, 0, 255, 0.4);
}

.neonTick.active {
  opacity: 1;
}

.neonTick.invisible {
  background-color: transparent;
  box-shadow: none;
}
