@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Unibody;
  src: url('/fonts/Unibody.otf') format('opentype');
}

body {
  overscroll-behavior: none;
}

/* For webkit-based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

/* For Firefox */
/* Please note that Firefox only supports scrollbar color customization starting from Firefox 64+ */
* {
  scrollbar-color: rgba(0, 0, 0, 0.5);
  scrollbar-width: thin;
}

* {
  text-shadow: 0px 0px 2px hsl(120, 100%, 80%), 0px 0px 15px green,
    0px 0px 60px green;
  text-transform: uppercase;
  outline: none;
}

.red-text-glow {
  text-shadow: 0px 0px 2px hsl(0, 100%, 80%), 0px 0px 15px red, 0px 0px 60px red;
}

.green-box-shadow {
  box-shadow: 0px 0px 2px hsl(120, 100%, 80%), 0px 0px 15px green,
    0px 0px 60px green;
}

.green-drop-shadow {
  filter: drop-shadow(0px 0px 2px hsl(120, 100%, 80%))
    drop-shadow(0px 0px 8px green);
}

.red-drop-shadow {
  filter: drop-shadow(0px 0px 1px hsl(0, 100%, 80%))
    drop-shadow(0px 0px 2px hsl(0, 100%, 80%))
    drop-shadow(0px 0px 15px hsl(0, 100%, 50%)) drop-shadow(0px 0px 60px red);
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0.8;
  }
}

.animate-flicker {
  animation: flicker 0.5s alternate-reverse steps(3) infinite;
}

.opaque {
  background-color: rgba(0, 0, 0, 0.8);
}
